@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "PhongTro";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";
    var ProductType = @ViewBag.ProductType;
    var product = @ViewBag.Product;

}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 room-main-content">
                    <div class="pt-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#">Trang chủ</a></li>
                            <li class="active">@ProductType.Name</li>
                        </ol>
                    </div><div class="room-list-category">
                        <div class="pull-left">
                            <a href=""><h3><span>@ProductType.Name</span> <i class="fa fa-angle-right"></i></h3></a>
                        </div>
                        @*<div class="pull-right">
                                <form id="order_form" class="form-inline form-oder-category" method="post" action="#">
                                    <input type="hidden" name="_token" value="7GSbASzO7NQ8MKYGsTbABtkVYBe05nHbfcbqpIpb">
                                    <div class="form-group">
                                        <div class="btn btn-select btn-select-light">
                                            <span class="btn-select-value">Chọn thành phố</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <ul>
                                                <li class="fill-target"><a style="text-decoration: none;" href="#/phong-tro-nha-tro?fill=1">Hà Nội</a></li>
                                                <li class="fill-target"><a style="text-decoration: none;" href="#/phong-tro-nha-tro?fill=31">Hải Phòng</a></li>
                                                <li class="fill-target"><a style="text-decoration: none;" href="#/phong-tro-nha-tro?fill=48">Đà Nẵng</a></li>
                                                <li class="fill-target"><a style="text-decoration: none;" href="#/phong-tro-nha-tro?fill=79">Hồ Chí Minh</a></li>
                                                <li class="fill-target"><a style="text-decoration: none;" href="#/phong-tro-nha-tro?fill=92">Cần Thơ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-select btn-select-light btn-oder-price">
                                            <input type="hidden" class="btn-select-input" id="price" name="price" value="null">
                                            <span class="btn-select-value">Sắp xếp giá</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <ul>
                                                <li class="get_price">Giá tăng dần</li>
                                                <li class="get_price">Giá giảm dần</li>
                                            </ul>
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-select btn-select-light btn-oder-time">
                                            <input type="hidden" class="btn-select-input" id="time" name="time" value="">
                                            <span class="btn-select-value">Sắp xếp thời gian</span>
                                            <span class="btn-select-arrow fa fa-angle-down"></span>
                                            <ul>
                                                <li class="get_time">Cũ nhất</li>
                                                <li class="get_time">Mới nhất</li>
                                            </ul>
                                        </a>
                                    </div>
                                </form>
                            </div>*@
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.get_price').on('click', function (e) {
                                var i = $(this).text();
                                price.value = i;
                                time.value = '';
                                $('#order_form').submit();
                            });
                            $('.get_time').on('click', function (e) {
                                var i = $(this).text();
                                price.value = '';
                                time.value = i;
                                $('#order_form').submit();
                            });
                            $('body').on('click', '.fill-target', function () {
                                window.location.href = $(this).find('a').attr('href');

                            });
                        });
                    </script>
                    <div class="room-list">
                        @foreach (var item in @ViewBag.Product)
                        {
                            <div class="room-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="block-room-item-title">
                                            <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})">@item.Title</a>
                                        </div>
                                        <div class="col-md-3 room-item-thumbnail">
                                            <div class="row">
                                                <a class="col-md-12 thumbnail room-item-main-img" href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})">
                                                    <img class="img-reponsive" src="~/Content/images/@item.Image" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 room-item-i">
                                            <div class="block-room-item-address">
                                                <span>Địa chỉ: </span>
                                                <a>
                                                    @item.District
                                                </a>
                                            </div>
                                            <div class="block-room-item-info">
                                                <div class="pull-left">
                                                    <span>Diện tích: </span><a>@item.Acreage m2</a>
                                                </div>
                                                <div class="pull-right item-info-date">
                                                    <a>
                                                        @item.CreatedDate
                                                    </a>
                                                </div>
                                                <div class="item-info-vs">
                                                    <span>Vệ sinh: </span><a>Khép kín</a>
                                                </div>
                                            </div>
                                            <div class="block-room-item-price">
                                                <span>Giá cả: </span><a> @item.Price Đ/tháng</a>
                                            </div>

                                            <div class="block-room-item-btn">
                                                <a class="btn btn-room-detail" href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.btn-room-save').on('click', function (e) {
                                var i = $(this);
                                var div = i.parent();
                                $.ajax({
                                    url: i.attr('_url'),
                                    type: 'GET',
                                    dataType: 'json',
                                    success: function (result) {
                                        i.remove();
                                        div.append(result);
                                        setTimeout(function () { $('.flash-mesage').remove(); }, 1000);
                                    }
                                });
                            });
                        });
                    </script>
                    <!-- Thêm mã phân trang -->
                    <br />
                    Trang @(product.PageCount < product.PageNumber ? 0 : product.PageNumber) / @product.PageCount
                    @Html.PagedListPager((IPagedList)product, page => Url.Action("PhongTro", new { ProductTypeId = @ProductType.Id, page = page }))


                    <!-- Kết thúc -->
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="advance-search">
                        <div class="title">
                            <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                        </div>
                        <div class="shr"><hr></div>
                        <form class="form" id="search_form" action="#/tim-kiem" method="GET">
                            <div class="form-group tp">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="">
                                    <span class="btn-select-value">Chọn tỉnh, thành phố</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="get_province" value="1"> Hà Nội</li>
                                        <li class="get_province" value="31"> Hải Phòng</li>
                                        <li class="get_province" value="48"> Đà Nẵng</li>
                                        <li class="get_province" value="79"> Hồ Chí Minh</li>
                                        <li class="get_province" value="92"> Cần Thơ</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn quận, huyện</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Phòng trọ, nhà trọ</li>
                                        <li class="province" value="31">Nhà nguyên căn</li>
                                        <li class="province" value="48">Nhà mặt phố</li>
                                        <li class="province" value="79">Văn phòng</li>
                                        <li class="province" value="92">Chung cư, căn hộ</li>
                                        <li class="province" value="92">Mặt bằng, cửa hàng</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-select-city">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                                    <span id="price" class="btn-select-value">Chọn khoảng giá</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="province" value="1">Dưới 1 triệu</li>
                                        <li class="province" value="31">1 triệu - 2 triệu</li>
                                        <li class="province" value="48">2 triệu - 3 triệu</li>
                                        <li class="province" value="79">3 triệu - 5 triệu</li>
                                        <li class="province" value="92">5 triệu - 7 triệu</li>
                                        <li class="province" value="92">7 triệu - 10 triệu</li>
                                        <li class="province" value="92">Trên 10 triệu</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
                </div>
            </div>                    <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-social">
                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/Phongtotvn-Thu%C3%AA-V%C3%A0-Cho-Thu%C3%AA-Ph%C3%B2ng-Ch%C3%ADnh-Ch%E1%BB%A7-726759860760692/" data-width="275" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=464576090336755&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275"><span style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f3a11d147f5cc54" width="275px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=464576090336755&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F__Bz3h5RzMx.js%3Fversion%3D42%23cb%3Df22d6812d09dd8c%26domain%3Dphongtot.vn%26origin%3Dhttp%253A%252F%252Fphongtot.vn%252Ff195edb6e0d05b8%26relation%3Dparent.parent&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275" style="border: none; visibility: visible; width: 0px; height: 0px;" class=""></iframe></span></div>
                </div>
            </div>                    <div class="row">
                <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
                </div>
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
                </div>
            </div>                    <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 sidebar-article-label">
                    <div class="pull-left">
                        <a href="#/bai-viet"><h3><span>bài viết</span> mới</h3></a>
                    </div>
                    <div class="pull-right">
                        <a href="#/bai-viet"></a><h3>
                            <a href="#/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>

