<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/themes/client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/client/css/fonts.css" rel="stylesheet" />
    <link href="~/Content/themes/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/client/css/component.css" rel="stylesheet" />
    <link href="~/Content/themes/client/css/app.css" rel="stylesheet" />

    <script src="~/Content/themes/client/js/jquery-1.11.3.min.js"></script>
    <script src="~/Content/themes/client/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/client/js/multiple-select.js"></script>
    <script src="~/Content/themes/client/js/owl.carousel.min.js"></script>
    <script src="~/Content/themes/client/js/ion.rangeSlider.js"></script>
    <script src="~/Content/themes/client/js/jquery-gmaps-latlon-picker.js"></script>
    <!-- Load WysiBB JS and Theme -->
    <script src="~/Content/themes/client/js/wysibb/jquery.wysibb.min.js"></script>
    <link href="~/Content/themes/client/js/wysibb/theme/default/wbbtheme.css" rel="stylesheet" />
    <script type="text/javascript">
        var client_upload_img = 'index.html';
    </script>
    <title>@ViewBag.Title</title>
</head>
<body>

    @Html.Partial("~/Views/Layout/_Header.cshtml")

    @Html.Partial("~/Views/Layout/_Menu.cshtml")
    <script>
        $(document).ready(function () {
            $(".btn-select").each(function (e) {
                var value = $(this).find("ul li.selected").html();
                if (value != undefined) {
                    $(this).find(".btn-select-input").val(value);
                    $(this).find(".btn-select-value").html(value);
                }
            });
        });

        $(document).on('click', '.btn-select', function (e) {
            e.preventDefault();
            var ul = $(this).find("ul");
            if ($(this).hasClass("active")) {
                if (ul.find("li").is(e.target)) {
                    var target = $(e.target);
                    target.addClass("selected").siblings().removeClass("selected");
                    var value = target.val();
                    var html = target.html();
                    $(this).find(".btn-select-input").val(value);
                    $(this).find(".btn-select-value").html(html);
                }
                ul.hide();
                $(this).removeClass("active");
            }
            else {
                $('.btn-select').not(this).each(function () {
                    $(this).removeClass("active").find("ul").hide();
                });
                ul.slideDown(300);
                $(this).addClass("active");
            }
        });

        $(document).on('click', function (e) {
            var target = $(e.target).closest(".btn-select");
            if (!target.length) {
                $(".btn-select").removeClass("active").find("ul").hide();
            }
        });
    </script>

    @RenderBody()

    @Html.Partial("~/Views/Layout/_Footer.cshtml")
    <div id="systemAlert">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#systemAlert').fadeOut();
            }, 10000);
        })
    </script>
    <div class="modal fade" id="modal_auth" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="modal_auth_wrap">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <ul class="nav nav-tabs no-margin">
                                <li id="li_login" class="active"><a href="#tab_auth_login" data-toggle="tab">ĐĂNG NHẬP</a></li>
                                <li id="li_register"><a href="#tab_auth_register" data-toggle="tab">ĐĂNG KÝ</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_auth_login">
                                    <form class="form-horizontal frm-login-ajax1 frm-user-ajax" id="frm-login-ajax1" role="form" method="POST" action="#/dang-nhap">
                                        <div class="hide alert alert-danger"></div>
                                        <input type="hidden" name="_token" value="zmq7sKJMAIEeS6drjuIgLOKBJ9r9eyfb0T0wdDZx">
                                        <input type="hidden" name="current_url" value="#">
                                        <div class="form-group">
                                            <label for="email" class="col-sm-3 col-md-3 control-label">Email</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Địa chỉ email ..." value="">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-3 col-md-3 control-label">Mật khẩu</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="password" name="password" class="form-control" id="password" placeholder="Mật khẩu ...">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3 control-label"></label>
                                            <div class="col-sm-8 col-md-8">
                                                <div class="pull-left help-block"><input type="checkbox" name="remember"> Ghi nhớ đăng nhập</div>
                                                <div class="pull-right"><button type="submit" class="btn btn-auth-submit">Đăng nhập</button></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <a href="https://www.facebook.com/v2.9/dialog/oauth?client_id=810519435625421&amp;redirect_uri=http%3A%2F%2Fphongtot.vn%2Fsocial%2Ffacebook%2F&amp;scope=email&amp;response_type=code&amp;state=ERFzA1Zjje2efZap4qER10y9uZAtqiwS1cpcOLl1" class="btn btn-md btn-social btn-facebook"> <i class="fa fa-facebook"></i> Đăng nhập bằng Facebook </a>
                                                <a href="https://accounts.google.com/o/oauth2/auth?client_id=354105350296-kcsi32tpijp59eca2ii2edffr595ikbv.apps.googleusercontent.com&amp;redirect_uri=http%3A%2F%2Fphongtot.vn%2Fsocial%2Fgoogle&amp;scope=openid+profile+email&amp;response_type=code&amp;state=ebIw06YH3mLWPjgavOJpJaKikh0hYqKeKnfgt4it" class="btn btn-md btn-social btn-google-plus"> <i class="fa fa-google-plus"></i> Đăng nhập bằng Google </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="text-center text-center-auth">
                                                <p><a class="btn btn-link" href="index.html">Khôi phục mật khẩu</a> để tìm lại mật khẩu</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="tab_auth_register">
                                    <form class="form-horizontal frm-user-ajax" id="frm-register-ajax" role="form" method="POST" action="#/dang-ky">
                                        <div class="hide alert alert-danger"></div>
                                        <input type="hidden" name="_token" value="zmq7sKJMAIEeS6drjuIgLOKBJ9r9eyfb0T0wdDZx">
                                        <input type="hidden" name="current_url" value="#">
                                        <div class="form-group">
                                            <label for="txt_fullname" class="col-sm-4 control-label">Tên hiển thị</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Tên hiển thị ..." value="">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_email" class="col-sm-4 control-label">Email</label>
                                            <div class="col-sm-6">
                                                <input type="email" name="email" class="form-control" id="email" placeholder="Email ..." value="">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_password" class="col-sm-4 control-label">Mật khẩu</label>
                                            <div class="col-sm-6">
                                                <input type="password" name="password" class="form-control" id="password" placeholder="Mật khẩu ...">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_password2" class="col-sm-4 control-label">Xác nhận mật khẩu</label>
                                            <div class="col-sm-6">
                                                <input type="password" name="repassword" class="form-control" id="password_confirmation" placeholder="Xác nhận mật khẩu ...">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_confirm" class="col-sm-4 control-label">Xác nhận</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="captcha" class="form-control" id="captcha" placeholder="Mã xác nhận ..." value="">
                                                <span class="help-block"></span>
                                                <span class="help-block"><small>Gồm 5 ký tự phân biệt chữ Hoa và chữ thường. </small></span>
                                                <div class="col-md-12">
                                                    <img src="captcha/default6c0a.png?pL5Oq4i4" alt="captcha" class="captcha-img" data-refresh-config="default">
                                                    <span class="pull-right"><a title="Lấy mã xác nhận mới" class="recapcha enable-tooltip" href="javascript:void(0);"><i class="fa fa-refresh fa-2x text-success"></i></a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $('.recapcha').on('click', function () {
                                                var captcha = $('img.captcha-img');
                                                var config = captcha.data('refresh-config');
                                                $.ajax({
                                                    method: 'GET',
                                                    url: '/get_captcha/' + config,
                                                }).done(function (response) {
                                                    captcha.prop('src', response);
                                                });
                                            });
                                        </script>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-8">
                                                <button type="submit" class="btn btn-auth-submit">Đăng ký tài khoản</button>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a href="https://www.facebook.com/v2.9/dialog/oauth?client_id=810519435625421&amp;redirect_uri=http%3A%2F%2Fphongtot.vn%2Fsocial%2Ffacebook%2F&amp;scope=email&amp;response_type=code&amp;state=ERFzA1Zjje2efZap4qER10y9uZAtqiwS1cpcOLl1" class="btn btn-md btn-social btn-facebook"> <i class="fa fa-facebook"></i> Đăng ký bằng Facebook </a>
                                        <a href="https://www.facebook.com/v2.9/dialog/oauth?client_id=810519435625421&amp;redirect_uri=http%3A%2F%2Fphongtot.vn%2Fsocial%2Ffacebook%2F&amp;scope=email&amp;response_type=code&amp;state=ERFzA1Zjje2efZap4qER10y9uZAtqiwS1cpcOLl1" class="btn btn-md btn-social btn-google-plus"> <i class="fa fa-google-plus"></i> Đăng ký bằng Google </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="themes/client/js/jquery-gmaps-latlon-picker.js"></script>
    <script src="../apis.google.com/js/platform.js" async defer></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=464576090336755";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        $(document).ready(function () {
            var wbbOpt = {
                buttons: "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,removeFormat"
            }
            $("#editor").wysibb(wbbOpt);
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75912345-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="themes/client/js/app.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</body>
</html>
