
@{
    ViewBag.Title = "Trang Cá Nhân";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";

    var user = @ViewBag.User;
}
<div class="container" style="margin-top: 20px;">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 room-main-content">
                <div class="pt-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li class="active">Trang cá nhân</li>
                    </ol>
                </div><div class="user_panel col-md-2 no-padding-vertical">
                    <div class="user-avatar">
                        <a href="#"><img class="img-responsive" src="~/Content/themes/client/img/avarta.jpg"></a>
                    </div>
                    <div class="user-panel-menu">
                        <div class="user-panel-menu-item active"><a href="@Url.Action("TrangCaNhan", "TrangCaNhan")">Trang Cá Nhân</a></div>
                        <div class="user-panel-menu-item "><a href="@Url.Action("TinDaDang", "TinDaDang")">Tin đã đăng</a></div>
                        <div class="user-panel-menu-item "><a href="@Url.Action("TinDaLuu","TinDaLuu")">Tin đã lưu</a></div>
                    </div>
                </div>
                <!-- End left menu -->
                <div class="user_panel col-md-10 user-panel-center-container">
                    <div class="user-panel-info">
                        <div class="user-panel-name"><a href="#">@user.LoginId</a></div>
                        <div class="user-panel-email"><a href="#">@user.Email</a></div>
                        <div class="alert alert-danger"><a href="#">Số Dư: @user.Balance Đ</a></div>
                        <a class="btn btn-submit-room" href="">Đăng tin</a>
                    </div><div class="user-panel-main-container">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông tin cá nhân</a></li>
                                <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đổi mật khẩu</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    @*<form class="user-panel-main-container-info">*@
                                        <input type="hidden" name="_token" value="Nb8ddljqiUD0orER2x4PDkqzodValBUert4ZEd3Y">
                                        <div class="user-panel-info-title">Ảnh đại diện</div>
                                        <div class="user-avatar"><a href="#"><img class="img-responsive" src="~/Content/themes/client/img/avarta.jpg"></a></div>
                                        <div class="user-panel-upload-avatar">
                                            <input type="file" name="avatar" value="">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="hoten">Họ tên</label>
                                                    <input type="text" class="form-control" id="loginIdupdate" value="@user.LoginId">
                                                    <span class="help-block" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ngaysinh">Ngày sinh</label>
                                                    <input type="text" class="form-control" name="birth" id="dateOfBirth" value="@user.DateOfBirth" placeholder="dd/mm/yyyy">
                                                    <span class="help-block" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ngaysinh">Giới tính</label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" id="inlineRadio1" value="male"> Nam
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="gender" id="inlineRadio2" value="female"> Nữ
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Địa chỉ</label>
                                                    <input type="datetime" class="form-control"  id="addressupdate" value="@user.Address" placeholder="Địa chỉ">
                                                    <span class="help-block" style="color:red;"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Điện thoại liên hệ</label>
                                                    <input type="text" class="form-control" id="phoneupdate" value="@user.Phone">
                                                    <span class="help-block" style="color:red;"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <input type="button" class="btn center-block" id="updateinfo" value="Cập nhật" />
                                        </div>
                                    @*</form>*@
                                </div>
                                <div role="tabpanel" class="tab-pane " id="profile">
                                    @*<form class="user-panel-main-container-info">*@
                                        <input type="hidden" name="_token" value="Nb8ddljqiUD0orER2x4PDkqzodValBUert4ZEd3Y">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mật khẩu cũ</label>
                                            <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder="Mật khẩu cũ">
                                            <span class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mật khẩu mới</label>
                                            <input type="password" class="form-control" name="password" id="passwordnew" placeholder="Mật khẩu mới">
                                            <span class="help-block" style="color:red;"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                            <input type="password" class="form-control" name="repassword" id="repasswordnew"  placeholder="Nhập lại mật khẩu">
                                            <span class="help-block" style="color:red;"></span>
                                        </div>
                                        <input type="button" id="changePass" class="btn center-block" value="Đổi mật khẩu" />
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                //Update
                $('#updateinfo').click(function () {
                    var loginId = $("#loginIdupdate").val();
                    var dateOfBirth = $("#dateOfBirth").val();
                    var phoneupdate = $("#phoneupdate").val();
                    var addressupdate = $("#addressupdate").val();
                    $.ajax({
                        type: 'POST',
                        url: "/TrangCaNhan/Update/",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify({
                            loginId: loginId,
                            dateOfBirth: dateOfBirth,
                            phone: phoneupdate,
                            address: addressupdate,
                        })
                    }).success(function (response) {
                        if (response.result == true) {
                            alert("Cập nhật thành công!");
                        }

                        else {
                            alert("Cập nhật Thất bại");
                        }
                    }).error(function () {
                        alert("Lỗi serve!");

                    });
                });

                //Đổi mật khẩu
                $('#changePass').click(function () {
                    var oldpassword = $("#oldpassword").val();
                    var passwordnew = $("#passwordnew").val();
                    var repasswordnew = $("#repasswordnew").val();

                    if (passwordnew != repasswordnew) {
                        alert(" mật khẩu nhập lại không khớp!");
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: "/TrangCaNhan/ChangePass/",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({
                                oldpassword: oldpassword,
                                passwordnew: passwordnew,
                                repasswordnew: repasswordnew,
                            })
                        }).success(function (response) {
                            if (response.result == true) {
                                alert("Đổi mật khẩu thành công!");
                            }

                            else {
                                alert("Cập nhật Thất bại");
                            }
                        }).error(function () {
                            alert("Lỗi serve!");

                        });
                    }
                    
                });
            });
</script>