
@{
    ViewBag.Title = "Tin Đã Đăng";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";

    var user = @ViewBag.User;
}
<div class="container" style="margin-top: 20px;">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 room-main-content">
                <div class="pt-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="http://phongtot.vn">Trang chủ</a></li>
                    </ol>
                </div><div class="col-md-2 user_panel no-padding-vertical">
                    <div class="user-avatar">
                        <a href="#"><img class="img-responsive" src="~/Content/themes/client/img/avarta.jpg"></a>
                    </div>
                    <div class="user-panel-menu">
                        <div class="user-panel-menu-item "><a href="#">Tổng quan</a></div>
                        <div class="user-panel-menu-item "><a href="@Url.Action("TinDaDang", "TinDaDang")">Tin đã đăng</a></div>
                        <div class="user-panel-menu-item "><a href="@Url.Action("TinDaLuu","TinDaLuu")">Tin đã lưu</a></div>
                    </div>
                </div>
                <!-- End left menu -->
                <div class="col-md-10 user_panel user-panel-center-container">
                    <div class="user-panel-info">
                        <div class="user-panel-name"><a href="#">nguyễn văn đức</a></div>
                        <div class="user-panel-email"><a href="#">nguyenvanduc95bg@gmail.com</a></div>
                    </div><div class="user-panel-main-container">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tin đã lưu</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="table-title">Tiêu đề</th>
                                                <th class="table-title text-center">Tác vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Data)
                                            {
                                                <tr>

                                                    <td>@item.Title - Sđt: @item.Phone</td>
                                                    <td class="text-center">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.IdProduct})" class="btn">Xem Tin</a>
                                                        <a href="#" class="btn btn-danger xoatin" style="background-color:red" data-ProductId ="@item.Id" >Xóa tin</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="pull-right">
                                                        <div class="dataTables_paginate paging_bootstrap">  </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                //delete
                $('.xoatin').click(function () {
                    var ProductId = $(".xoatin").attr("data-ProductId");
                    $.ajax({
                        type: 'POST',
                        url: "/TinDaLuu/XoaTin/",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify({
                            ProductId: ProductId,
                        })
                    }).success(function (response) {
                        if (response.result == true) {
                            alert("Xóa thành công!");
                            window.location.reload();
                        }

                        else {
                            alert("Xóa Thất bại");
                        }
                    }).error(function () {
                        alert("Lỗi serve!");

                    });
                });
            });
</script>
