
@{
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Layout/_Banner_timkiem.cshtml")
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 room-main-content">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <div class="menu-tab">
                                <div class="menu-tab-title"><a href="#"><span>Tin</span> Mới nhất <i class="fa fa-angle-right"></i></a></div>
                                <div class="menu-tab-title-right">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_type_1" data-toggle="tab">Tất cả</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_type_2" data-toggle="tab">Phòng trọ, Nhà trọ</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_type_3" data-toggle="tab">Nhà nguyên căn</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_type_4" data-toggle="tab">Văn Phòng</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_type_5" data-toggle="tab">Chung cư, căn hộ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                              
                                @*Tất cả*@ 
                                <div class="tab-pane active" id="tab_type_1">
                                    <div class="thumbnail-list">
                                        <div class="row block-item">
                                            @foreach (var item in ViewBag.ListAll)
                                            {
                                                <div class="col-sm-6 col-md-4 thumbnail-item">
                                                    <div class="thumbnail">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})" title="">
                                                            <img src="~/Content/images/@item.Image" alt="" class="cover img-reponsive" style="height: 170px;">
                                                        </a>
                                                        <div class="room-item-price">
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            @*<a href="#">@item.Price /tháng</a>*@
                                                        </div>
                                                        <div class="caption">
                                                            <div class="title">
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})">@item.Title</a></h2>
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @item.Id})">@item.Price / tháng</a></h2>
                                                            </div>
                                                            <div class="extra">
                                                                <div class="pull-left">
                                                                    <a href="#"><span class="fa fa-map-marker"></span>@item.District</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="#"><span class="fa fa-info"></span>@item.Acreage m<sup>2</sup></a>
                                                                </div>
                                                                <div class="type">
                                                                    <a href="#"><span class="fa fa-home"></span>@item.ProducType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                                @*Phòng trọ*@
                                <div class="tab-pane " id="tab_type_2">
                                    <div class="thumbnail-list">
                                        <div class="row block-item">
                                            @foreach (var pt in ViewBag.NhaTro)
                                            {
                                                <div class="col-sm-6 col-md-4 thumbnail-item">
                                                    <div class="thumbnail">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @pt.Id})">
                                                            <img src="~/Content/themes/client/img/cho-thue-phong-tang-2-trong-nha-nguyen-can-mat-tien-thumb-tf62l.jpg" alt="" class="cover img-reponsive">
                                                        </a>
                                                        <div class="room-item-price">
                                                            <a href="#">@pt.Price /tháng</a>
                                                        </div>
                                                        <div class="caption">
                                                            <div class="title">
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @pt.Id})">@pt.Title</a></h2>
                                                            </div>
                                                            <div class="extra">
                                                                <div class="pull-left">
                                                                    <a href="#"><span class="fa fa-map-marker"></span>@pt.District</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="#"><span class="fa fa-info"></span>@pt.Acreage m<sup>2</sup></a>
                                                                </div>
                                                                <div class="type">
                                                                    <a href="#"><span class="fa fa-home"></span>@pt.ProducType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                                @*Nhà nguyên căn*@
                                <div class="tab-pane " id="tab_type_3">
                                    <div class="thumbnail-list">
                                        <div class="row block-item">
                                            @foreach (var nnc in ViewBag.NhaNguyencan)
                                            {
                                                <div class="col-sm-6 col-md-4 thumbnail-item">
                                                    <div class="thumbnail">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @nnc.Id})" title="Cho thu&ecirc; nh&agrave; số 25B /Ng&aacute;ch 106 Ng&otilde; Gốc Đề - Phố Minh Khai &ndash; H&agrave; Nội.">
                                                            <img src="~/Content/themes/client/img/cho-thue-nha-so-25b-ngach-106-ngo-goc-de-pho-minh-khai-ha-noi-thumb-ajyfm.jpg" alt="" class="cover img-reponsive">
                                                        </a>
                                                        <div class="room-item-price">
                                                            <a href="#">@nnc.Price Đ/tháng</a>
                                                        </div>
                                                        <div class="caption">
                                                            <div class="title">
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @nnc.Id})">@nnc.Title</a></h2>
                                                            </div>
                                                            <div class="extra">
                                                                <div class="pull-left">
                                                                    <a href="#"><span class="fa fa-map-marker"></span>@nnc.District</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="#"><span class="fa fa-info"></span>@nnc.Acreage m<sup>2</sup></a>
                                                                </div>
                                                                <div class="type">
                                                                    <a href="#"><span class="fa fa-home"></span>@nnc.ProducType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                @*Văn phong*@
                                <div class="tab-pane " id="tab_type_4">
                                    <div class="thumbnail-list">
                                        <div class="row block-item">
                                            @foreach (var vp in ViewBag.VanPhong)
                                            {
                                                <div class="col-sm-6 col-md-4 thumbnail-item">
                                                    <div class="thumbnail">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = @vp.Id})">
                                                            <img src="~/Content/themes/client/img/cho-thue-van-phong-thu-duc-gia-re-thumb-enfrd.jpg" alt="" class="cover img-reponsive">
                                                        </a>
                                                        <div class="room-item-price">
                                                            <a href="#">@vp.Price Đ/tháng</a>
                                                        </div>
                                                        <div class="caption">
                                                            <div class="title">
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = vp.Id})">@vp.Title</a></h2>
                                                            </div>
                                                            <div class="extra">
                                                                <div class="pull-left">
                                                                    <a href="#"><span class="fa fa-map-marker"></span>@vp.District</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="#"><span class="fa fa-info"></span>@vp.Acreage m<sup>2</sup></a>
                                                                </div>
                                                                <div class="type">
                                                                    <a href="#"><span class="fa fa-home"></span>@vp.ProducType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                                @*CHung cư*@
                                <div class="tab-pane " id="tab_type_5">
                                    <div class="thumbnail-list">
                                        <div class="row block-item">
                                            @foreach (var cc in ViewBag.ChungCu)
                                            {
                                                <div class="col-sm-6 col-md-4 thumbnail-item">
                                                    <div class="thumbnail">
                                                        <a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = cc.Id})">
                                                            <img src="~/Content/themes/client/img/chinh-chu-cho-thue-nha-tai-tang-3-c5-tap-the-nghia-tan-vao-o-tu-1112018-1539660826pwbxk-thumb-resized-pyuok.jpg" alt="" class="cover img-reponsive">
                                                        </a>
                                                        <div class="room-item-price">
                                                            <a href="#">@cc.Price Đ/tháng</a>
                                                        </div>
                                                        <div class="caption">
                                                            <div class="title">
                                                                <h2><a href="@Url.Action("ChiTiet", "ChiTiet", new { @ProductId = cc.Id})">@cc.Title</a></h2>
                                                            </div>
                                                            <div class="extra">
                                                                <div class="pull-left">
                                                                    <a href="#"><span class="fa fa-map-marker"></span>@cc.District</a>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="#"><span class="fa fa-info"></span>@cc.Acreage m<sup>2</sup></a>
                                                                </div>
                                                                <div class="type">
                                                                    <a href="#"><span class="fa fa-home"></span>@cc.ProducType</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="advance-search">
                        <div class="title">
                            <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                        </div>
                        <div class="shr"><hr></div>
                        <form class="form" id="search_form" action="#" method="GET">
                            <div class="form-group tp">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="">
                                    <span class="btn-select-value">Chọn tỉnh, thành phố</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="get_province" value="1"> Hà Nội</li>
                                        <li class="get_province" value="31"> Hải Phòng</li>
                                        <li class="get_province" value="48"> Đà Nẵng</li>
                                        <li class="get_province" value="79"> Hồ Chí Minh</li>
                                        <li class="get_province" value="92"> Cần Thơ</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn quận, huyện</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-select-city">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                                    <span id="price" class="btn-select-value">Chọn khoảng giá</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="province" value="1">Dưới 1 triệu</li>
                                        <li class="province" value="31">1 triệu - 2 triệu</li>
                                        <li class="province" value="48">2 triệu - 3 triệu</li>
                                        <li class="province" value="79">3 triệu - 5 triệu</li>
                                        <li class="province" value="92">5 triệu - 7 triệu</li>
                                        <li class="province" value="92">7 triệu - 10 triệu</li>
                                        <li class="province" value="92">Trên 10 triệu</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
