
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Layout/_LayoutNhatro.cshtml";
    var productDetail = ViewBag.Details;
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 room-main-content">
                    <div class="pt-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#"> @productDetail.ProducType </a></li>
                            <li class="active">@productDetail.Title </li>
                        </ol>
                    </div><div class="room-detail">
                        <div class="title">
                            <a href="javascript: void(0);"><h1>@productDetail.Title </h1></a>
                        </div>
                        <div class="social">
                            <div class="pull-left facebook">
                                <span> <div class="fb-like fb_iframe_widget" data-href="#" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=464576090336755&amp;container_width=0&amp;href=http%3A%2F%2Fphongtot.vn%2Fchung-cu-can-ho%2Fcan-cho-thue-ch-citygarden-3pn-145m2-full-nt-gia-43trthang&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false"><span style="vertical-align: bottom; width: 106px; height: 20px;"><iframe name="f1cc68ab1a6ce98" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/like.php?action=like&amp;app_id=464576090336755&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F__Bz3h5RzMx.js%3Fversion%3D42%23cb%3Df36258e83ae786c%26domain%3Dphongtot.vn%26origin%3Dhttp%253A%252F%252Fphongtot.vn%252Ff3076214d6bfbcc%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fphongtot.vn%2Fchung-cu-can-ho%2Fcan-cho-thue-ch-citygarden-3pn-145m2-full-nt-gia-43trthang&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=false" style="border: none; visibility: visible; width: 106px; height: 20px;" class=""></iframe></span></div></span>
                                <span> <div class="fb-send" data-href="#"></div></span>
                            </div>
                            <div class="pull-left gplus">
                                <span>
                                    <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1540183260508" name="I0_1540183260508" src="#" data-gapiattached="true" title="G+"></iframe></div>
                                </span>
                            </div>
                            <div class="pull-right">
                                <a href="javascript:void();"><span>Lượt xem : </span>1</a>
                            </div>
                        </div>    <div class="clearfix"></div>
                        <!-- Căn hộ, Chung cư -->
                        <div class="main-info">
                            <div class="row">
                                <div class="col-md-8 left-info no-padding-right">
                                    <div class="address">
                                        <span class="btn info-label">Địa chỉ</span>
                                        <a class="" href="#">@productDetail.LocationName</a>
                                    </div>
                                    <div class="size">
                                        <span class="btn info-label">Diện tích</span>
                                        <a href="#" class="btn info-data">@productDetail.Acreage m<sup>2</sup></a>
                                        <span class="btn info-label">Loại phòng</span>
                                        <a href="#">@productDetail.ProducType</a>
                                    </div>
                                    <div class="tang">
                                        <span class="btn info-label">Tầng số</span>
                                        <a href="#" class="btn info-data">@productDetail.Floor phòng</a>
                                        <span class="btn info-label">Vệ sinh</span>
                                        <a href="#" class="btn info-data">@productDetail.Sanitary phòng</a>
                                    </div>
                                    <div class="bed-room">
                                        <span class="btn info-label">Phòng ngủ</span>
                                        <a href="" class="btn info-data">@productDetail.BedRoomNumber</a>
                                        <span class="btn info-label">Hướng nhà</span>
                                        <a href="">Đông nam</a>
                                    </div>
                                    <div class="type">
                                        <span class="btn info-label">Giá điện</span>
                                        <a href="" class="btn info-data">@productDetail.PriceElectric vnđ/Số</a>
                                        <span class="btn info-label">Giá nước </span>
                                        <a href="">@productDetail.PriceWater vnđ/Số</a>
                                    </div>
                                </div>
                                <div class="col-md-4 info-contact no-padding-left">
                                    <div class="contact-label">
                                        <a href=""><span class="fa fa-mobile-phone"></span>Thông tin liên hệ</a>
                                    </div>
                                    <div class="chr"><hr></div>
                                    <div class="info-price">
                                        <a href=""><span class="fa fa-unlock-alt"></span>@productDetail.Price Đ/tháng</a>
                                    </div>
                                    <div class="info-boss">
                                        <a href=""><span class="fa fa-user"></span>@productDetail.UserName</a>
                                    </div>
                                    <div class="info-phone">
                                        <a id="showPhone"><span class="fa fa-mobile-phone"></span>Bấm lưu tin để hiện số điện thoại</a>
                                        <a id="hiddenPhone"><span class="fa fa-mobile-phone"></span>@productDetail.PhoneNumber</a>
                                    </div>
                                    <div class="info-feedback">
                                        @if (Session["UserName"] != null)
                                        {
                                            <a class="btn btn-report-room clearfix" href="#tab_auth_login" data-toggle="modal" data-target="#modal_auth">Phản hồi tình trạng</a>
                                            <a class="btn btn-save-room clearfix" href="#" id="luutin">Lưu tin</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-detail-img">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="w3-content w3-display-container">
                                        @foreach (var image in ViewBag.Image)
                                        {
                                            <img class="mySlides" src="~/Content/images/@image.Link" style="width:100%">
                                        }

                                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="room-detail-des">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="des-label room-list-category">
                                        <div class="pull-left">
                                            <a href="javascript: void(0);"><h3><span>Thông tin</span> chi tiết <i class="fa fa-angle-right"></i></h3></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </div>
                                    <div class="dis-content">@productDetail.Description</div>
                                </div>
                            </div>
                        </div>
                        <div class="room-detail-map">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="map-label room-list-category">
                                        <div class="pull-left">
                                            <a href=""><h3><span>Bản đồ</span> vị trí <i class="fa fa-angle-right"></i></h3></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </div>
                                    <div class="map-content">
                                        @* Bản đồ *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="ssemail" value="@Session["Email"]" />
                    <input type="hidden" id="balance" value="@Session["Balance"]" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            // show phonenumber
                            $("#hiddenPhone").hide();
                            $("#luutin").click(function () {
                                var r = confirm("Bạn phải trả 5000đ để lưu tin!");
                                if (r == true) {
                                    $("#hiddenPhone").show();
                                    $("#showPhone").hide();
                                    var email = $("#ssemail").val();
                                    var balance = $("#balance").val();
                                    if (balance < 5000000) {
                                        alert('Tài Khoản bạn không đủ');
                                    }

                                    $.ajax({
                                        type: 'POST',
                                        url: "/ChiTiet/LuuTin/",
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        data: JSON.stringify({
                                            email: email
                                        })
                                    }).success(function (response) {
                                        if (response.result == true) {
                                            alert("Đã Lưu Tin");
                                            $("#luutin").attr('disabled', 'disabled');
                                        }

                                        else {
                                            alert("Tài Khoản Bạn Không đủ");
                                        }
                                    }).error(function () {
                                        alert("Lỗi serve!");
                                        window.location.reload();
                                    });
                                }
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="advance-search">
                        <div class="title">
                            <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                        </div>
                        <div class="shr"><hr></div>
                        <form class="form" id="search_form" action="#" method="GET">
                            <div class="form-group tp">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="">
                                    <span class="btn-select-value">Chọn tỉnh, thành phố</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="get_province" value="1"> Hà Nội</li>
                                        <li class="get_province" value="31"> Hải Phòng</li>
                                        <li class="get_province" value="48"> Đà Nẵng</li>
                                        <li class="get_province" value="79"> Hồ Chí Minh</li>
                                        <li class="get_province" value="92"> Cần Thơ</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn quận, huyện</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-tp">
                                    <input type="hidden" class="btn-select-input" id="district" name="district" value="">
                                    <span id="district-select" class="btn-select-value">Chọn đường</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul id="districtGroup">
                                        <li class="province" value="1">Hai Bà Tưng</li>
                                        <li class="province" value="31">Hoàng Mai</li>
                                        <li class="province" value="48">Bách Khoa</li>
                                        <li class="province" value="79">Minh Khai</li>
                                        <li class="province" value="92">Cầu Giấy</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-select btn-select-light btn-select-city">
                                    <input type="hidden" class="btn-select-input" id="province" name="province" value="" />
                                    <span id="price" class="btn-select-value">Chọn khoảng giá</span>
                                    <span class="btn-select-arrow fa fa-angle-down"></span>
                                    <ul>
                                        <li class="province" value="1">Dưới 1 triệu</li>
                                        <li class="province" value="31">1 triệu - 2 triệu</li>
                                        <li class="province" value="48">2 triệu - 3 triệu</li>
                                        <li class="province" value="79">3 triệu - 5 triệu</li>
                                        <li class="province" value="92">5 triệu - 7 triệu</li>
                                        <li class="province" value="92">7 triệu - 10 triệu</li>
                                        <li class="province" value="92">Trên 10 triệu</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="#" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-social">
                    <div class="fb-page fb_iframe_widget" data-href="#" data-width="275" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=464576090336755&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275"><span style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f1dd7f52af2e0cc" width="275px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=464576090336755&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F__Bz3h5RzMx.js%3Fversion%3D42%23cb%3Df30057159ca6e18%26domain%3Dphongtot.vn%26origin%3Dhttp%253A%252F%252Fphongtot.vn%252Ff3076214d6bfbcc%26relation%3Dparent.parent&amp;container_width=275&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FPhongtotvn-Thu%25C3%25AA-V%25C3%25A0-Cho-Thu%25C3%25AA-Ph%25C3%25B2ng-Ch%25C3%25ADnh-Ch%25E1%25BB%25A7-726759860760692%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=275" style="border: none; visibility: visible; width: 0px; height: 0px;" class=""></iframe></span></div>
                </div>
            </div>
            <div class="row">
                <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="" alt="">
                </div>
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 sidebar-article-label">
                    <div class="pull-left">
                        <a href="#/bai-viet"><h3><span>bài viết</span> mới</h3></a>
                    </div>
                    <div class="pull-right">
                        <a href="#/bai-viet"></a><h3>
                            <a href="#/bai-viet">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
